@font-face {
    font-family: FranchiseRegular;
    src: url('../fonts/Franchise-Bold.ttf');
}

body{
    background-image: url('../images/background.jpeg');
}

.home{
    text-decoration: none;
    color: red;
}

.header{
    float: left;
}

.logo{
    font-size: 380%;
    font-family: FranchiseRegular, sans-serif;
}

.login{
    float:right;
    padding-top: 1% ;
    padding-right: 1%;
}

.btn-login{
    border: none;
    border-radius: 5%;
    font-size: 20px;
    color: white;
    font-family: FranchiseRegular, sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.tv-button{
    padding-left: 2%;
}

.main-text-wrapper{
    top:20%;
    left: 11%;
    position: absolute;
    padding: 20px 20px;
    font-family: FranchiseRegular, sans-serif;
    color: white;
}

.main-text-wrapper p{
    font-weight: 600;
    font-size: 26px;
}

.btn-create-account{
    background-color: red;
    border: none;
    color: white;
    margin-bottom: 5%;
    padding: 10px;
    font-family: FranchiseRegular, sans-serif;
    text-transform: none;
    font-size: 20px;
    cursor: pointer;
}

.form-wrapper{
    font-size: 120%;
}

.input-wrapper{
    display: block;
    margin:2% 0 2% 0;
    padding: 2%;
    width: 75%;
    border-style: solid;
    border-radius: 8px;
}