<div class="container-fluid" ng-controller="browseController">
    <div class=" btn-add">
        <button class="btn btn-default" ng-click="add()" >Add a new Title</button>
    </div>
    <div class="row browse-thumbnails">
        <div class="col-sm-3 col-xs-12 img-title" ng-repeat="item in movielist | filter: searchText | orderBy: sortColumn | startFrom:(currentPage-1)*maxSize | limitTo:maxSize">
            <a  class="thumbnail" ng-mouseover="showInfo='true'" ng-mouseleave="showInfo = 'false'">
                <img ng-src="{{item.Poster}}" alt="{{item.Title}}">
                <div class="browse-info" ng-show="showInfo == 'true'">

                    <button
                        class="btn btn-primary"
                        ng-click="editTitle(item)">Edit
                </button>
                </div>

            </a>
            <h4 class="caption"><a ng-href="http://www.imdb.com/title/{{item.imdbID}}" target="_blank">{{ item.Title }}</a></h4>

        </div>
    </div>

    <div class="row">
        <div class="col-12 browse-pagination">
            <uib-pagination boundary-links="true" total-items="(movielist | filter: searchText).length " ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</div>
